:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --accent-color: rgba(0, 44, 126, 1);/*#2563eb;*/
    --secondary-bg: #f8fafc;
    --border-color: #e2e8f0;
}

body {
    font-size: 1.1em;
    text-align: center;
    font-family: serif;
    background-color: var(--bg-color);/*rgb(252, 252, 252);*/
    color: var(--text-color);
        
}


h2{
    margin-top: 4rem;   
    margin-bottom: 4rem;   
}

a{
    color : var(--accent-color);/*(0, 44, 126, 1);*/
}

.card {
    padding: 0.5rem;
    margin: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);/*lightgray;*/

    background-color: var(--secondary-bg);/*rgb(249, 249, 249 );*/
    min-width: 30%;
    font-size: 1.0em;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

.date {
    font-size: 0.8em;
    margin-bottom:0px;
    margin-top:0px;
}

.label{
    margin-bottom: 0;   
}
.unit {
    font-size: 0.7em;
    text-align: right;
    margin: 0;
}

div:has(> .chart) {
    height: 300px;
    
}

#name {
    font-size: 2em;
    /*margin:0.2em 0.5em 0.5em 0.5em;*/
}
#furigana{
    font-size: 0.8em;
    margin-bottom : 0;
}
